body {
    font-family: Arial;
    background-color: #f5f5f5;
}

.container {
    width: 350px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
